*{
  margin: 0;
}

.app{
  background-color: #fafafa;
}
.app__header{
  object-fit: contain;
  padding:15px;
  border-bottom: 1px solid lightgray;
  background-color: white;
  display: flex;  
}

.app__signup{
  display: flex;
  flex-direction: column;
}